## Hacker news posts analysis
* We would like to determine the best time to post questions on hacker news

In [1]:
import pandas as pd
hn = pd.read_csv("hacker_news.csv")

In [2]:
hn.head()

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,10975351,How to Use Open Source and Shut the Fuck Up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,1/26/2016 19:30
2,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20
3,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,6/17/2016 0:01
4,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,9/30/2015 4:12

In [3]:
headers = list(hn.columns.values)

In [4]:
hn = hn.values.tolist() #converting to lists

In [5]:
hn[:5]

[[12224879,
  'Interactive Dynamic Video',
  'http://www.interactivedynamicvideo.com/',
  386,
  52,
  'ne0phyte',
  '8/4/2016 11:52'],
 [10975351,
  'How to Use Open Source and Shut the Fuck Up at the Same Time',
  'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/',
  39,
  10,
  'josep2',
  '1/26/2016 19:30'],
 [11964716,
  "Florida DJs May Face Felony for April Fools' Water Joke",
  'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/',
  2,
  1,
  'vezycash',
  '6/23/2016 22:20'],
 [11919867,
  'Technology ventures: From Idea to Enterprise',
  'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429',
  3,
  1,
  'hswarna',
  '6/17/2016 0:01'],
 [10301696,
  'Note by Note: The Making of Steinway L1037 (2007)',
  'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0',
  8,
  2,
  'walterbell',
  '9/30/2015 4:12']]

In [6]:
# Catergorizing types of posts
ask_posts=[]
show_posts=[]
other_posts=[]
for each in hn:
    titles=each[1]
    if titles.lower().startswith("ask hn"):
        ask_posts.append(each)
    elif titles.lower().startswith("show hn"):
        show_posts.append(each)
    else:
        other_posts.append(each)

In [7]:
print(len(ask_posts))

1744

In [8]:
#finding average number of comments in "Ask HN Post" & " SHow HN Post"
total_ask_comments = 0 
for each in ask_posts:
    total_ask_comments += int(each[4])
    
avg_ask_comments = total_ask_comments/len(ask_posts)

print(avg_ask_comments)

14.038417431192661

In [9]:
total_show_comments = 0 
for each in show_posts:
    total_show_comments += int(each[4])
    
avg_show_comments = total_show_comments/len(show_posts)

print(avg_show_comments)

10.31669535283993

* Average comments on Ask hacker news in about **14** and for Show hacker news in **10**.
* This shows that users engage on Hacker news for asking queries more as compared to showcasing their own projects.

In [14]:
import datetime as dt
result_list = []
for each in ask_posts:
    result_list.append([each[6],int(each[4])])
    
counts_by_hour = {} #counts number of posts in an hour
comments_by_hour = {} #total comments in an hour
date_format = "%m/%d/%Y %H:%M"

for each in result_list:
    date = each[0]
    comments = each[1]
    time = dt.datetime.strptime(date,date_format).strftime("%H")
    if time in counts_by_hour:
        comments_by_hour[time] += comments
        counts_by_hour[time] += 1
    else:
        comments_by_hour[time] = comments
        counts_by_hour[time] = 1

counts_by_hour

{'00': 55,
 '01': 60,
 '02': 58,
 '03': 54,
 '04': 47,
 '05': 46,
 '06': 44,
 '07': 34,
 '08': 48,
 '09': 45,
 '10': 59,
 '11': 58,
 '12': 73,
 '13': 85,
 '14': 107,
 '15': 116,
 '16': 108,
 '17': 100,
 '18': 109,
 '19': 110,
 '20': 80,
 '21': 109,
 '22': 71,
 '23': 68}

In [16]:
#finding average comments per hour
avg_by_hour = []
for hour in comments_by_hour:
    avg_by_hour.append([hour,comments_by_hour[hour]/counts_by_hour[hour]])
avg_by_hour    
    
print(sorted(avg_by_hour))

[['00', 8.127272727272727], ['01', 11.383333333333333], ['02', 23.810344827586206], ['03', 7.796296296296297], ['04', 7.170212765957447], ['05', 10.08695652173913], ['06', 9.022727272727273], ['07', 7.852941176470588], ['08', 10.25], ['09', 5.5777777777777775], ['10', 13.440677966101696], ['11', 11.051724137931034], ['12', 9.41095890410959], ['13', 14.741176470588234], ['14', 13.233644859813085], ['15', 38.5948275862069], ['16', 16.796296296296298], ['17', 11.46], ['18', 13.20183486238532], ['19', 10.8], ['20', 21.525], ['21', 16.009174311926607], ['22', 6.746478873239437], ['23', 7.985294117647059]]

In [23]:
#formatting the list to 
swap_avg_by_hour = []
for each in avg_by_hour:
    swap_avg_by_hour.append([each[1],each[0]])
    
print(swap_avg_by_hour)

sorted_swap = sorted(swap_avg_by_hour,reverse= True)

[[21.525, '20'], [10.08695652173913, '05'], [9.022727272727273, '06'], [10.25, '08'], [9.41095890410959, '12'], [7.985294117647059, '23'], [16.796296296296298, '16'], [23.810344827586206, '02'], [13.440677966101696, '10'], [11.46, '17'], [6.746478873239437, '22'], [5.5777777777777775, '09'], [7.170212765957447, '04'], [8.127272727272727, '00'], [14.741176470588234, '13'], [13.20183486238532, '18'], [7.852941176470588, '07'], [16.009174311926607, '21'], [13.233644859813085, '14'], [38.5948275862069, '15'], [7.796296296296297, '03'], [11.383333333333333, '01'], [10.8, '19'], [11.051724137931034, '11']]

In [27]:
formatted_list = []
for each in sorted_swap[:5]:
    comment = round(each[0],2)
    time = dt.datetime.strptime(each[1],"%H").strftime("%H:%M")
    
    formatted_list.append([time, comment])
    
formatted_list

[['15:00', 38.59],
 ['02:00', 23.81],
 ['20:00', 21.52],
 ['16:00', 16.8],
 ['21:00', 16.01]]

In [38]:
print("Top 5 timings to post questions:")
for avg,hr in sorted_swap[:5]:
    print("Between {}-{} hours {:.2f} average comments per post".
          format(dt.datetime.strptime(hr,"%H").strftime("%H:%M"),(dt.datetime.strptime(hr,"%H")+ dt.timedelta(hours=1)).strftime("%H:%M"),avg))

Top 5 timings to post questions:
Between 15:00-16:00 hours 38.59 average comments per post
Between 02:00-03:00 hours 23.81 average comments per post
Between 20:00-21:00 hours 21.52 average comments per post
Between 16:00-17:00 hours 16.80 average comments per post
Between 21:00-22:00 hours 16.01 average comments per post

## Conclusion
***
* We can conclude that the best time to get higher rate of response to ask hacker news questions would be between **3pm to 4pm**